@import "tailwindcss";

@theme {
  --color-primary: #0f0f0f;
  --color-secondary: #141414;
  --color-gray: #242424;
}

@layer base {
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: var(--font-onest);
  }
}
