<nav
  class="shadow fixed top-0 left-0 right-0 z-50 w-full border-b border-gray p-5">
  <div class="flex items-center justify-between max-w-7xl mx-auto">
    <a href="/" class="text-2xl font-bold text-white">ReactorMC</a>
    <ul class="flex space-x-4">
      <a href="/blog">Blog</a>
      <a href="https://docs.reactor.ink">Docs</a>
    </ul>
  </div>
</nav>
