---
import Head from '@components/Head.astro'
import '@fontsource-variable/inter'
import '@styles/global.css'

interface Props {
  title?: string
}

const { title = 'Reactor MC' } = Astro.props
---

<!doctype html>
<html lang="en">
  <Head {title} />
  <body class="font-inter">
    <slot />
  </body>
</html>
